<messagesForm (addMessage)="optimisticAdd($event)" (addMessagePs)="pessimisticAdd()"></messagesForm>
<h2>
  List of messages
</h2>
<ul class ="list-group">
  <li class = "list-group-item" *ngFor = "let key of messagesKeys of messages">
    <button class="btn btn-danger" (click) = "deleteMessage(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/message-form', key]">Update</button>
    <a [routerLink] = "['/message', key]">{{'message number ' + key + ' ' + messages[key].body}}</a></li>
</ul>


<button class="btn btn-info" [routerLink] = "['/messagesf']">firebase</button>
